.redes {
    background-color: var(--Very-dark-blue);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 2%;
  }
.btn-float .btn{
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: #29434e;
    padding: 15px 25px;
    border-radius: 20px;
    color: #fff;
    position: fixed;
    right: 40px;
    bottom: 40px;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    z-index: 99;

    
}

 .btn-float .btn:hover{
  color: #25d366;
box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
transform: translateY(-7px);
}
  .redes .iconos {
    display: flex;
    border-radius: 2%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .redes .icon {
    position: relative;
    height: 80px;
    margin: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: all .8s;
    cursor: pointer;
  }
  .redes .icon svg {
    height: 68px;
  }

  .redes .icon:hover {
    background-color: #e60073;
    box-shadow:  0 0 20px #e60073 ;
  }
  
  .redes .icon:hover:nth-child(2) {
    background-color: #1877f2;
    box-shadow:  0 0 20px #1877f2;
  }
  
  .redes .icon:hover:nth-child(3) {
    background-color: #25d366;
    box-shadow: 0 0 20px #25d366 ;
  }
  
  .redes .icon:hover:nth-child(4) {
    background-color: #1da1f2;
    box-shadow:  0 0 20px #1da1f2 ;
  }
  
  .redes .icon i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.7rem;
  }
  
  .redes svg circle {
    stroke-dasharray: 150;
    transition: all .8s ease-in-out;
  }
  
  .redes .icon:hover circle {
    stroke-dasharray: 220;
  }