/* Importar estilos individuales */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
@import url("./css/videos.css");
@import url("./css/carusel.css");
@import url("./css/footer.css");
@import url("./css/gallery.css");
@import url("./css/main.css");
@import url("./css/redes.css");
@import url("./css/paquetes.css");
/* Estilos globales o compartidos */
:root {
    --main-font: "Montserrat", "Fraunces", Arial, serif, sans-serif;
    --body-color: #f0f3f6;
    --text-color-primary: #ffffff;
    --text-color-secundary: #fff48f;
    --text-color-tertiary: hsl(228, 12%, 48%);
    --text-color-title: hsl(212, 21%, 14%);
    --Very-dark-blue: hsl(212, 21%, 14%);
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--body-color);
    max-width: 1200px;
  }
  
  header {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("assets/portada.JPEG");
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  
  .header__image {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5em;
  }
  
  header h1,
  header h3 {
    font-family: 'Fraunces', serif;
    text-overflow: inherit;
    color: var(--text-color-secundary);
  }
  
  header h1 {
    font-size: 6vw;
    margin-top: 1em;
  }
  
  header h3 {
    font-size: 3vw;

  }
  
  header h2 {
    margin-top: 5px;
    color: var(--text-color-primary);
    font-size: 1em;
    letter-spacing: 3px;
  }
  
  @media (max-width: 460px) {
 
  
    header h1 {
      font-size: 5vw;
    }
  
    header h2 {
      font-size: 2.5vw;
      margin-top: 1rem; 
    }
  
    header h3 {
      font-size: 2.5vw;
    }
  }
  
  
  

  .team{
    text-align: center;
    display: grid;
  }
  .fotosImage {
    display: flex;
    max-width: 700px;
    margin: 2rem auto;
  }
  
  .fotosImage img {
    width: calc(1.2% - 10px); /* Initial width for each image */
    border-radius: 5%;
    flex-grow: 1; /* Images will grow proportionally within the container */
    object-fit: contain;
    transition: all 0.5s ease; /* Animate all properties on hover */
    opacity: 0.5;
  }
  
  .fotosImage img:hover {
    cursor: crosshair;
    width: calc(25% - 10px); /* Increase width on hover */
    opacity: 1; /* Full opacity on hover */
    filter: contrast(120%); /* Increase contrast on hover */
  }
  
  @media (max-width: 400px) { /* Media query para dispositivos con un ancho máximo de 768px */
    .fotosImages{
      max-width: 400px;
    }
    .fotosImage img {
      width: calc(25% - 40px); /* Cambiar el ancho de las imágenes para dispositivos móviles */
    }
  
    .fotosImage img:hover {
      width: calc(40% - 20px); /* Ajustar el ancho aumentado al pasar el cursor para dispositivos móviles */
    }
  }